<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CarpeGov</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container-fluid">
        <div class="col-md-12">
          <h1 class="text-center">CarpeGov</h1>
          <p class="text-center">Take action on education!</p>
        </div>
      </div>
    </div>

		<!-- BEGIN FORM -->

    <section id="bill-form">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                <legend class="btn btn-primary">Add New Bill</legend> <br/>

                <!-- Text input-->
                <div style="display:none;">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Bill Title</label>
                    <div class="col-md-4">
                    <input id="billTitle" name="title" type="text" placeholder="Bill Title" class="form-control input-md" required="">
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="billSummary">Bill Summary</label>
                    <div class="col-md-4">
                    <input id="billSummary" name="summary" type="text" placeholder="Bill Summary" class="form-control input-md">
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="billSponsor">Bill Sponsor</label>
                    <div class="col-md-4">
                    <input id="billSponsor" name="sponsor" type="text" placeholder="Bill Sponsor" class="form-control input-md">
                    </div>
                  </div>

        					<!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="latestAction">Latest Action</label>
                    <div class="col-md-4">
                    <input id="latestAction" name="latestAction" type="text" placeholder="Latest Action" class="form-control input-md">
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-default close-add-bill" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </section>
    <br>
    <!--   END FORM   -->

    <!-- drop down filter by issues menu -->
    <div id="issues" class="container-fluid col-md-8 col-md-offset-2">
      <div class="dropdown text-right">
        <button class="btn btn-default dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown">
          Filter Legislation by Issue
          <span class="caret"></span>
        </button>
      <!--  <a href="#" class="dropdown-toggle" data-toggle=" dropdown">Issues<b class="caret"></b></a> -->
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li><a href="#" class="btn funding">Funding</a></li>
            <li><a href="#" class="btn vouchers">Vouchers</a></li>
            <li><a href="#" class="btn affordability">Affordability</a></li>
            <li><a href="#" class="btn dept-of-ed">Dept of Education</a></li>
            <li class="divider"></li>
            <li><a href="#" class="allbills">All Bills</a></li>
          </ul>

      </div>
    </div>

    <section class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Bills</h2>
          <p>Browse bills in the United States Congress related to education.</p>
        </div>
      </div>

      <!-- billscontainer! -->
      <div id="bills" class="container-fluid">
      </div>
    </section>

      <!-- begin actionItemModal: this is not visible until you call .modal() on it -->
      <div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" id="actionItemModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <h4 class="modal-title">Add Action Item</h4>
            </div>

          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-6 control-label" for="actionItemTitle">
                  Action Item Title:
                </label>
                <div class="col-md-6">
                  <input id="actionItemTitle" name="actionItemTitle" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Rep 1 input-->
              <div class="form-group">
                <label class="col-md-6 control-label" for="actionItemRep1Name">
                  Representative Name:
                </label>
                <div class="col-md-6">
                  <input id="actionItemRep1Name" name="actionItemRep1Name" type="text" placeholder="" class="form-control input-md" required="">
                </div>
                <label class="col-md-6 control-label" for="actionItemRep1ActionUrl">
                Representative Action Link:
                </label>
                <div class="col-md-6">
                  <input id="actionItemRep1ActionUrl" name="actionItemRep1ActionUrl" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Rep 1 input-->
              <div class="form-group">
                <label class="col-md-6 control-label" for="actionItemRep2Name">
                  Representative Name:
                </label>
                <div class="col-md-6">
                  <input id="actionItemRep2Name" name="actionItemRep2Name" type="text" placeholder="" class="form-control input-md" required="">
                </div>
                <label class="col-md-6 control-label" for="actionItemRep2ActionUrl">
                  Representative Action Link:
                </label>
                <div class="col-md-6">
                  <input id="actionItemRep2ActionUrl" name="actionItemRep2ActionUrl" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Rep 1 input-->
              <div class="form-group">
                <label class="col-md-6 control-label" for="actionItemRep3Name">
                  Representative Name:
                </label>
                <div class="col-md-6">
                  <input id="actionItemRep3Name" name="actionItemRep3Name" type="text" placeholder="" class="form-control input-md" required="">
                </div>
                <label class="col-md-6 control-label" for="actionItemRep3ActionUrl">
                  Representative Action Link:
                </label>
                <div class="col-md-6">
                  <input id="actionItemRep3ActionUrl" name="actionItemRep3ActionUrl" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Due Date input-->
              <div class="form-group">
                <label class="col-md-6 control-label" for="actionItemDueDate">
                  Due Date:
                </label>
                <div class="col-md-6">
                  <input id="actionItemDueDate" name="actionItemDueDate" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Status input-->
              <div class="form-group">
                <label class="col-md-6 control-label" for="actionItemStatus">
                  Status:
                </label>
                <div class="col-md-6">
                  <input id="actionItemStatus" name="actionItemStatus" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>
          </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-success" id="saveActionItem">
                <span class="glyphicon glyphicon-floppy-saved">
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Edit action items Modal -->
    <div class="modal fade bs-modal-lg" id="editActionItemsModal" tabindex="-1" role="dialog" aria-labelledby="editActionItemsModalTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="editActionItemsModalTitle">Edit Action Items</h4>
          </div>
          <div class="modal-body" id='editActionItemsModalBody'>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-success" id='editActionItemsModalSubmit'>
              <span class="glyphicon glyphicon-floppy-saved"></span>
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </body>
</html>
