<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CarpeGov</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- SCRIPTS -->
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="col-md-offset-1">
          <h1>CarpeGov</h1>
          <p>Take action on education!</p>
        </div>
      </div>
    </div>

		<!-- BEGIN FORM -->

    <section id='bill-form' class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form class="form-horizontal">
            <fieldset>

              <!-- Form Name -->
              <legend class="btn btn-primary">Add New Bill</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Bill Title</label>
                <div class="col-md-4">
                <input id="billTitle" name="bill-title" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="billSummary">Bill Summary</label>
                <div class="col-md-4">
                <input id="billSummary" name="bill-summary" type="text" placeholder="Bill Summary" class="form-control input-md">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="billSponsor">Bill Sponsor</label>
                <div class="col-md-4">
                <input id="billSponsor" name="bill-sponsor" type="text" placeholder="Bill Sponsor" class="form-control input-md">

                </div>
              </div>

    					<!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="latestAction">Latest Action</label>
                <div class="col-md-4">
                <input id="latestAction" name="bill-latestAction" type="text" placeholder="Latest Action" class="form-control input-md">

                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                  <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                </div>
              </div>


            </fieldset>
          </form>
        </div>
      </div>
    </section>
     <!--   END FORM   -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Bills</h2>
        </div>
      </div>

      <!-- billscontainer! -->
      <div id='bills' class="container">
      </div>

    </section>
  </body>
</html>
